<ion-content>
  <app-header title="Pesos"></app-header>
  <div class="flex justify-end">
    <ion-button (click)="addOrUpdateWeight()" class="ion-margin" mode="ios">
      Agregar Peso
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-grid class="px-3 py-6">
    <ion-row *ngIf="!loading">
      <div class="grid w-full gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        <ion-card *ngFor="let weight of weights" class="p-2 m-0" mode="ios">
          <span class="font-bold text-lg"> {{weight.weight}} kg </span>
          <p *ngIf="weight.createdAt" class="text-xs">
            <b>Fecha de registro :</b>
            {{weight.createdAt?.toDate() | date: 'yyyy/MM/dd h:mm:ss a' }}
          </p>
          <div class="flex justify-end">
            <ion-button
              (click)="addOrUpdateWeight(weight)"
              class="task-btn"
              mode="ios"
              size="small"
            >
              Editar
              <ion-icon slot="end" name="pencil-outline"></ion-icon>
            </ion-button>

            <ion-button
              (click)="confirmDeleteWeight(weight)"
              class="task-btn"
              mode="ios"
              color="danger"
              size="small"
            >
              Eliminar
              <ion-icon slot="end" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </div>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="nextData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-row *ngIf="!loading && !weights.length">
      <ion-col size="12" class="ion-text-center">
        <ion-icon size="large" name="create-outline"></ion-icon>
        <h4 class="font-semibold text-2xl">No hay registros</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
