<ion-content>
  <app-header
    [title]="weight ? 'Actualizar Registro' : 'Nuevo Registro'"
  ></app-header>
  <app-custom-input
    [control]="form.controls.weight"
    type="number"
    label="Peso"
  ></app-custom-input>
  <div
    class="validators"
    *ngIf="form.controls.weight.errors && form.controls.weight.dirty"
  >
    <div *ngIf="form.controls.weight.errors?.['required']">
      Este campo es requerido
    </div>
    <div *ngIf="form.controls.weight.errors?.['min']">
      Este campo debe tener un valor minimo de 0
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="ion-text-center">
    <ion-button
      class="ion-margin"
      mode="ios"
      [disabled]="form.invalid"
      (click)="submit()"
      shape="round"
    >
      {{ weight ? "Guardar Cambios" : "Crear Registro" }}
    </ion-button>
  </div>
</ion-footer>
